<h1>Lidt om mig</h1>

<p>Jeg hedder June Skaaning og er fra 1961. Jer er bosiddende nord for Randers i en lille landsby.</p>

<p>Jeg er uddannet som kontorassistent tilbage i 1981 og har mange kurser i den forbindelse.</p>

<p>I 2006 begyndte jeg mit nye liv, hvor jeg selv ville bestemme over min arbejdstid og det jeg havde lyst til. Det blev og er en dejlig rejse, med mange uddannelser og kurser indenfor bevægelse, se nærmere under uddannelser og kurser.</p>

<p>Jeg vil stadig udvikle mig via kurser og uddannelser og hvem ved, hvad det bringer med sig.</p>

<p>Se mere på de næste sider om hvad og hvor jeg er i dag.</p>